.sidebar {
  position: absolute;
  width: 4%;
  height: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #60141D;
  //color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebarNav {
  margin-top: -40rem;
  margin-bottom: 3rem;

}

.sidebarNavs {
  margin-top: 2rem 0 ;
}



.sidebarNavLink {
  text-decoration: none;
  text-decoration-style: double;
  text-decoration-thickness: bold;
  outline: none;
  color: black;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 100;
  

  &Active {
    @extend .sidebarNavLink;
    opacity: 2;
  }
}

button {
  background-color: #60141D;
  border-radius: 20%;

}

.sidebarBurgerMenu {
  top: 0px;

}

.sidebarSettingsButtons {
  bottom: 0px;
}



